.kdv_store_name{display: none;}
.kdv_menu_logo{display: none;}
#kdv_cart-total{display: none;}
.kdv_w{display: none;}
@media only screen and (max-width: 990px){
.ma-nav-mobile-container{ position: relative;}
.navbar .btn-navbar {
	display:block;
  float: left;
  padding:13px 0px;
  margin:0px;
  width:100%;

}
.navbar .btn-navbar div{ display:block; 
   float:left; 
   margin-left:40px;
   line-height:24px; 
	font-family:"Open Sans", Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:bold;
	}
.navbar{ position:relative;}

.navbar .btn-navbar .icon-bar {
  display: block;
  width: 18px;
  height: 2px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
   box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);  
   margin-left:10px;
}

.btn-navbar .icon-bar  {
  margin-top: 4px;
}

#navbar-inner{ min-height:50px;}

#ma-mobilemenu { 
	display: none;
	overflow: scroll;
}

.nav-collapse, .nav-collapse.collapse { 
	overflow-x: hidden;
	overflow-y: scroll;
	max-height: 340px!important;
}
.mobilemenu .nav-collapse .collapse{
	max-height: 340px!important;
}
.menu1 .mobilemenu { 
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.menu1 .mobilemenu .categ_image{ display:none;}   
.nav-collapse { 
text-align: left;
clear: both;
}
.menu1 .mobilemenu ul {
	padding: 0;
	margin: 0;
	display: block;
}
.menu1 .mobilemenu li {
	cursor: pointer;
	list-style-type: none;
	padding: 0;
	margin: 0;
	float: left;
	display: block;
	width: 100%;
	position: relative;
}
.menu1 .mobilemenu li div {
	padding: 0 34px 15px 15px;
	display: block;
	clear: both;
}
.menu1 .mobilemenu a {
	text-decoration: none;
	line-height: 34px;
	display: block;
	cursor: pointer;
		border-top: 1px solid rgba(0, 0, 0, 0.1);

}
.menu1 .mobilemenu > li > a {
	font-size: 12px;
	padding: 0 10px;
	font-family:"Open Sans", Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	font-weight:bold;

}

.menu1 .mobilemenu ul a {
	padding-left: 25px;
	padding-right:50px;
}
.menu1 .mobilemenu ul ul a {
	padding-left: 40px;
}
.menu1 .mobilemenu ul ul ul a {
	padding-left: 55px;
}
.menu1 .mobilemenu ul ul ul ul a {
	padding-left: 70px;
}
.menu1 .mobilemenu ul ul ul ul ul a {
	padding-left: 85px;
}
/*----------- button mobilemenu -------------*/
.menu1 .mobilemenu span.head a { 
	background: url(../image/icon/menu_down.png) no-repeat center right;
}
.menu1 .mobilemenu li.active>span.head a {
	background: url(../image/icon/menu_up.png) no-repeat center right;
}
.menu1 .mobilemenu li.selected span.head a {
	background: url(../image/icon/menu_up.png) no-repeat center right;
}


.menu1 .mobilemenu span.head {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index:7
}
.menu1 .mobilemenu span.head a { 
	display:block;
	height:34px;
	padding:0;
	width:34px;
	border: 0;
}
.menu1 .mobilemenu .categories > span.head a, .menu1 .mobilemenu .linkinfo > span.head a{width:766px;}

.menu1 .mobilemenu li.custombox, .menu1 .mobilemenu #topmenuaccount{ display:none;}

.menu1 > ul > li.default2 > div .categ_image2{ display:none;}
}
@media only screen and (min-width: 480px) and (max-width: 789px) {
	.menu1 .mobilemenu .categories > span.head a, .menu1 .mobilemenu .linkinfo > span.head a{ width:448px;}
}
@media only screen and (max-width: 479px) {
	.menu1 .mobilemenu .categories > span.head a, .menu1 .mobilemenu .linkinfo > span.head a{ width:280px;}
	.navbar{width: 100%;}
	.navbar .btn-navbar .icon-bar {
	    width: 27px;
	    height: 4px;
	    -webkit-border-radius: 1px;
	    -moz-border-radius: 1px;
	    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	    background-color: #fbf2d3;
	}
	.sb-search {
	    margin-top: 4px;
	}
	.sb-icon-search {
	    width: 41px;
	    height: 41px;
	    background-size: 70%;
	    right: 10px;
	}
	.btn-navbar div:first-child{
	    display: none;
	}
	.kdv_menu_logo{
		display: block;
	    position: absolute;
	    width: 38px;
	    left: 37px;
	    top: 5px;
	}
	.kdv_menu_logo img{
		width: 100%;
	}
	.kdv_store_name{
	    display: block;
	    position: absolute;
	    left: 75px;
	    line-height: 20px;
	    font-size: 25px;
	    color: #fbf2d3;
	    top: 17px;
	    font-family: london, Arial, Helvetica, sans-serif
	}
	.kdv_w{
		display: block;
		background-color: #e8b01f;
    	height: 50px;
	}
	.kdv_w ul{
		list-style: none;
	    width: 48%;
	    display: block;
	    float: left;
	    padding-left: 0px;
	    margin-top: 0px;
	    margin-bottom: 0px;
	    margin-right: 1.5%;
	    margin-left: 0;
	}
	.kdv_w ul li{
	    display: block;
	    float: left;
	}
	.kdv_w ul li a{
	    display: block;
	    width: 100%;
	    height: 50px;
	}
	.kdv_adress{
		font-size: 15px;
	    font-family: london, Arial, Helvetica, sans-serif;
	    padding-top: 7px;
	    color: #707e7e;
	}
	#header{display: none;}
	.kdv_adress span{
		display: block; 
		text-align: center;
		white-space: nowrap;
	}
	.kdv_vk{
		background: url(../image/icon/kdv_vk.png) no-repeat center center;
		background-size: 74%;
	}
	.kdv_insta{
		background: url(../image/icon/kdv_insta.png) no-repeat center center;
		background-size: 67%;
	}
	.kdv_mail{
		background: url(../image/icon/kdv_mail.png) no-repeat center center;
		background-size: 75%;
	}
	.kdv_phone{
		background: url(../image/icon/kdv_phone.png) no-repeat center center;
		background-size: 87%;
	}
	#presents2 {
	    font-size: 18px;
	}
	.kdv_menu_login{
	    width: 40px;
	    height: 50px;
	    position: absolute;
	    right: 43px;
	}
	.kdv_menu_login a{
	    width: 40px;
	    height: 50px;
	    background: url(../image/icon/kdv_login.png) no-repeat center center;
	    background-size: 56%;
	    display: block;
	}

	.kdv_menu_login_exit{
	    width: 40px;
	    height: 50px;
	    position: absolute;
	    right: 43px;
	}
	.kdv_menu_login_exit a{
	    width: 40px;
	    height: 50px;
	    background: url(../image/icon/icon_exit.png) no-repeat center center;
	    background-size: 75%;
	    display: block;
	}
	.kdv_menu_cart{
		width: 40px;
	    height: 50px;
	    position: absolute;
	    right: 79px;
	}
	.kdv_menu_cart a{
	    width: 40px;
	    height: 50px;
	    background: url(../image/icon/kdv_cart.png) no-repeat center center;
	    background-size: 76%;
	    display: block;
	}
	.category-list ul li {
	    width: 100%;
	}
	#footer {
	    background: url(http://totoro-shop.ru/image/data/mattimeo/444.jpg)no-repeat;
	    background-position: left bottom;
	    background-color: #f2ebc0;
	}
	.menu_fixed{
		position: fixed;
		width: 100%;
	}
	.main{
		padding-top: 125px;
	}
	#kdv_cart-total{
	    position: absolute;
	    color: #fff;
	    font-weight: bold;
	    background-color: #ff0000;
	    width: 20px;
	    height: 20px;
	    font-size: 11px;
	    text-align: center;
	    border-radius: 50%;
	    line-height: 23px;
	    right: -5px;
	    top: 3px;
	}
	.product-info .image{
		width: auto;
		height: auto;
	}
}